[user]
	name = Ben
	email = benbruscella@gmail.com
[pivotal]
	api-token = b497b1d3778bcaa12204eeb4568ee481
	full-name = Ben Bruscella
	integration = develop
	only-mine = true
	integration-branch = integration
[alias]
	st = status
	ci = commit
	co = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p

[core]
	editor = mate -w
	excludesfile = /Users/benbruscella/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
